{
  "extends": ["nebenan"],
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.test.jsx", "**/*.stories.js", "**/stories/**/*.jsx"],
      "env": {
        "mocha": true
      },
      "rules": {
        "no-unused-expressions": "off",
        "unicorn/filename-case": "off"
      }
    }
  ]
}
